{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% trans "Change Password" %}
{% endblock %}

{% block content %}
<div id="reset-password-1" class="page-content-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h1>{% trans "Change Password" %}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content2 %}
<div id="reset-password-2" class="page-content-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h3p>{% trans "Please, enter new password" %}</p>

                <form id="reset-password-form" action="." method="POST" role="form">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-info">{% trans "Change my Password" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
