{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% trans "Forgot Password" %}
{% endblock %}

{% block content %}
<div id="forgot-password-1" class="page-content-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h1>{% trans "Forgot Password" %}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content2 %}
<div id="forgot-password-2" class="page-content-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

                <form id="forgot-password-form" action="" method="post">
                    {% csrf_token %}

                    <div class="form-inline">
                        <p>
                            <label for="id_email">{% trans "Email address:" %}</label>
                            <input id="id_email" name="email" type="email" placeholder="Email" />
                        </p>
                    </div>

                    <button type="submit" class="btn btn-info">{% trans "Forgot my Password" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
