{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div id="group-rename" class="page-content-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h1>{% trans "Rename Group" %}</h1>

                <form id="rename-group-form" action="" method="post">
                    {% csrf_token %}

                    <div class="form-inline">
                        <label>{{ rename_form.name.label }}: </label> {{ rename_form.name }}
                        <button type="submit" class="btn btn-default">{% trans "Rename" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
