{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div id="group-invite" class="page-content-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1>{% trans "Send Invitation" %}</h1>

                <p>
                {% blocktrans with name=group.name %}
                    Invite a friend to join "{{ name }}". Everyone in this group can see each other's progress.
                {% endblocktrans %}
                </p>

                <form id="invite-group-form" role="form" action="" method="post">
                    {% csrf_token %}

                    {{ invite_form.as_p }}

                    {{ invite_message_form.as_p }}

                    <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
