{% extends "base_admin.html" %}

{% load i18n %}

{% block content %}
<div id="admin-purchase-1" class="page-content-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h2>{% trans "Create a gift purchase." %}</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content2 %}
<div id="admin-purchase-2" class="page-content-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-12 col-md-12">
                <p>{% trans "If you enter recipient's email address, an email will be sent to them with their gift code." %}</p>

                <form id="add-purchase-form" action="" method="POST">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
